@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.react-icons {
  vertical-align: middle;
}

.h-screen-mobile {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@font-face {
  font-family: "Archivo Black";
  src: url("../public/fonts/Archivo_Black/ArchivoBlack-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Linear Beam";
  font-weight: 500;
  src: url("../public/fonts/linear_beam/Linebeam.woff2") format("woff2");
}

@font-face {
  font-family: "Pixelmix";
  font-weight: 500;
  src: url("../public/fonts/pixelmix/pixelmix.woff2") format("woff2");
}

/*  @font-face {
  font-family: "Pixelmix";
  font-weight: 900;
  src: url("/public/fonts/pixelmix/pixelmix_bold.ttf") format("ttf");
} */


@layer base {

  @supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

  

  body {
    @apply bg-[#f9f9f9] text-[#1b1b1b] tracking-wide;
    @apply dark:bg-black dark:text-gray-100;
  }

  h1 {
    @apply text-7xl sm:text-8xl md:text-6xl lg:text-8xl uppercase font-archivoBlack;
    line-height: 1em;
    letter-spacing: -0.08em;
  }

  h2 {
    @apply text-base sm:text-lg md:text-sm lg:text-lg font-pixelmix;
    line-height: 1.2em;
    font-family: "Pixelmix";
  }

  h3 {
    @apply text-xl sm:text-3xl md:text-xl lg:text-3xl font-archivoBlack;
    text-align: center;
    line-height: 1em;
    letter-spacing: -0.1em;
  }

  li {
    @apply cursor-pointer text-base;
  }

  .lined-text {
    @apply text-5xl sm:text-7xl md:text-5xl lg:text-7xl font-linearBeam;
    @apply dark:opacity-90;
    line-height: 0.9em;
    letter-spacing: -0.1em
  }

  p {
    @apply text-lg;
  }

  .social-icon {
    @apply cursor-pointer p-3 hover:scale-110 transition ease-in-out duration-150;
  } 

}